<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</head>

<body style="background-color: rgb(255, 167, 249);">
    <center>
        <h1>Welcome Product Manager</h1>
        <hr>
        <form method="get">
            {% csrf_token %}
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Select Brand
            </a>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/viewproduct">Apple</a></li>
                <li><a class="dropdown-item" href="/viewproduct">Samsung</a></li>
                <li><a class="dropdown-item" href="#">Vivo</a></li>
                <li><a class="dropdown-item" href="#">Oppo</a></li>
            </ul>
        </div>
    </form>
    </center>
</body>

</html>